body {
  font-family: "magical_neverland", Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;

  background-image: url("img/bg_forest.jpg");
  background-position: center;
}

h1 {
  margin-top: -50px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center; /* Überschrift zentrieren */
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas_container {
  position: relative;
  width: 720px;
  height: 480px;
}

.canvas_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

canvas {
  background-color: black;
  display: block;
  flex-grow: 1;
}

.startScreenContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/img/backgrounds/start_screen_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#startScreenDialog {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  border-radius: 10px;
  font-family: "magical_neverland", Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 80%;
  max-height: 80%;
}

#startScreenDialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.startScreenContent {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Verteilt den Platz zwischen den Elementen */
  position: relative; /* Für die absolute Positionierung des Zauberbuchs */
}

.characterImage {
  width: 20%; /* Anpassen der Bildgröße */
  margin-right: 16px; /* Abstand zum Text */
}

.textContainer {
  flex-grow: 1; /* Nimmt den restlichen Platz ein */
  text-align: left; /* Text links ausrichten */
  word-break: break-word;
}

.startScreenAssetsContainer {
  display: flex;
  justify-content: space-evenly;
}

.spellbookImage {
  width: 10%; /* 30% der Größe des Elara-Bildes */
}

.startButton,
.gameOverButtons {
  background-image: url("assets/img/game_objects/button.png");
  background-position: center;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
}

.startButton:hover,
.gameOverButtons:hover {
  scale: 1.03;
}

.mobile-buttons-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 20px; /* Abstand zwischen den Buttons */
}

.mobile-buttons-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 24px;
}

.arrow-icon.mirror {
  transform: scaleX(-1);
}

.arrow-icon.rotate-up {
  transform: rotate(90deg);
}

.control-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 16px; /* Abstand zwischen den Buttons */
}

.mobile-buttons {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-buttons:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.mobile-buttons img {
  width: 24px; /* oder die gewünschte Größe */
  height: 24px;
}

.orientation-dialog-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#orientationDialog {
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
}

#orientationDialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

/* Smartphone */
@media only screen and (max-width: 720px) {
  canvas,
  .canvas_container {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  h1 {
    margin-top: 10px;
    position: absolute;
    top: 0;
    font-size: 18px;
    color: antiquewhite;
    right: 16px;
  }

  canvas,
  .canvas_container {
    height: 100vh;
  }
}

@media (hover: none) and (orientation: portrait) {
  .orientation-dialog-container, #orientationDialog {
    display: flex;
  }

  .canvas_container, h1 {
    display: none;
  }
}

@media (hover: none) and (orientation: landscape) {
  .orientation-dialog-container, #orientationDialog {
    display: none;
  }
  .canvas_container, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#gameOverDialog {
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  border-radius: 10px;
  font-family: "magical_neverland", Arial, Helvetica, sans-serif;
  text-align: center;
  width: 80%;
  max-width: 300px;
}

#gameOverDialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
