body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/bg_sea.jpg");
    /* background-size: cover; */
    background-position: center;
}

canvas {
    background-color: black;
}